*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(to right,#2193b0,#6dd5ed);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:white;
    width:400px;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    text-align:center;
}

h1{
    margin-bottom:20px;
    color:#333;
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    border:1px solid gray;
    border-radius:8px;
    font-size:16px;
}

button{
    padding:12px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

.weather-card{
    margin-top:25px;
}

.weather-info p{
    margin:15px 0;
    font-size:18px;
}

#error{
    color:red;
    margin-top:15px;
    font-weight:bold;
}
